.questions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    background-image: url('https://i.pinimg.com/originals/47/b5/67/47b567ff37393b5c564cbe1186e90662.jpg');
    border-radius: .42vw;
    padding: 0 10px 10px 10px;
    margin-left: 250px;
    flex-direction: column;
    width: 66vw;
    max-width: 66vw;
    text-align: center;
}
.question {
    font-size: 2vw;
    line-height: 3vw;
    border-bottom: 1px solid white;
    width: 100%;
    margin-bottom: 2.5vw;
}
.answer {
    font-size: 2vw;
    line-height: 3vw;
    width: 100%;
    margin: 1.25vw 0;
}
.answer:hover {
    background-color: rgba(250,250,250,.13);
    cursor: pointer;
    border-radius: 0.5vw;
} 