@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');


.results {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    background-image: url('https://i.pinimg.com/originals/47/b5/67/47b567ff37393b5c564cbe1186e90662.jpg');
    border-radius: .42vw;
    padding: 5vw;
    flex-direction: column;
    width: 66vw;
    max-width: 66vw;
    text-align: center;
    margin-left: 250px;
    font-family: 'Shadows Into Light', cursive;
}
.result {
    font-size: 5vw;
    font-family: 'Shadows Into Light', cursive;
    line-height: 5vw;
    width: 100%;
} 